
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "vazirmatn";
}

html{
    font-size: 62.5%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom:  1px solid rgb(230, 78, 78);
}

.logo{
    font-size: 3rem;
    color: brown;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover{
    transform: scale(1.08) translateY(-5px);
}

.navbar a{
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    margin-right: 3rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid transparent;
    transition: transform 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: brown;
    border-bottom: 2px solid brown;
}


body{
    overflow-x: hidden;
    background: black;
    color: azure;
    direction: rtl;
    text-align: right;
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem ;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    min-height: 100vh;
    background-color: black;
    padding-top: 10rem;
}

.home-img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img img{
    width: 420px;
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 0 0 25px brown;
}



.home-img img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px white;
}

.home-content{
    flex: 1;
    max-width: 600px;
 
}
.home-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 1rem;
    
}
.home-content span{
    color: brown;
}
.home-content h3{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.home-content p{
     font-size: 1.5rem;
     margin-bottom: 2rem;
     line-height: 1.8;
    
}
.social-icons{
    text-align: right;
    margin-top: 2rem;
}

.social-icons a{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid brown;
    font-size: 2rem;
    border-radius: 50%;
    margin: 1.5rem;
    transition: 0.3s ease;
    color: brown;
    line-height: 4rem;
    text-align: center;

}
.social-icons a:hover{
    transform: scale(1.3) translateY(-5px);
    background-color: #ccc;
    box-shadow: 0 0 25px #ccc;
    color: #111;

}
.btn{
    display: inline-block;
    width: max-content;
    margin: 2rem auto;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.5rem;
    color: rgb(231, 230, 230);
    font-weight: 600;
    border: 2px solid brown;
    cursor: pointer;
    transition: 0.3s ease ;
}
.btn:hover{
    background-color: brown;
    border-radius: 6rem;
    transform: scale(1.05);
    font-weight: 600;
    color: antiquewhite;
    box-shadow: 0 0 25px;
}


.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    min-height: 100vh;
}

.about-img{
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-img img{
    width: 320px;
    border-radius: 50%;
    box-shadow: 0 0 25px brown;
}

.about-content{
    flex: 1;
}



.about-content h3{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.about-content p{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 3rem;
}



.section-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5rem;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 2rem;
}

.skill-card{
    background: #111;
    border: 2px solid brown;
    border-radius: 20px;
    padding: 3rem;
    text-align: center;
    transition:
     transform 0.4s ease;
     box-shadow: 0.3s ease;
     border-color: 0.3s ease;
}

.skill-card img{

    width: 80px;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.skill-card img:hover{
    transform: rotate(5deg) scale(1.1);
}




.skill-card h3{
    font-size: 2rem;
}

.skill-card:hover{
    transform: translateY(-15px) scale(1.03);
    box-shadow: 0 0 30px rgb(244, 235, 168);
    border-color: cornsilk;

}


.portfolio-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 2rem;
    align-items: center;
}

.portfolio-card{
    background-color: #111;
    padding: 1.5rem;
    border: 1px solid brown;
    border-radius: 20px;
    box-shadow: 0 0 5px white;
    text-align: center;
    transition: 0.4s ease;
   
}


.portfolio-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 2rem;
    border-radius: 5px;

}


.portfolio-card h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: brown;
    font-weight: bold;
}

.portfolio-card p{
    font-size: 1.5rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-weight: 100;
}



.portfolio-card:hover{
     transform: translateY(-10px) scale(1.01);
    box-shadow: 0 0 20px #ccc;
}

.portfolio-card a{
    display: inline-block;
    text-decoration: none;
    color: #111;
    border: 1px solid #ccc ;
    border-radius: 8px;
    background-color: #ccc;
    text-align: center;
    padding: 0.5rem 1rem;
    transition: 0.3 ease;
}

.portfolio-card a:hover{
    background-color: #e64e4e;
    transform: translateY(-2px);
}

.contact-form{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 1.5rem;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
}

.contact-form input{
    background-color: #111;
    border: 1px solid #e64e4e;
    color: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    
}

.contact-form textarea{
     background-color: #111;
    border: 1px solid #e64e4e;
    color: #ccc;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 120px;
}

.contact-form button{
     background-color: #ccc;
    border: 1px solid #e64e4e;
    color: #111;
    padding: 1rem;
    border-radius: 0.5rem;
    line-height: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}



.contact-form button:hover{
    transform: scale(1.03);
    background-color: #e64e4e;
    border-color: #ccc;
    box-shadow: 2px #ccc;
}

.contact-form input{
    width: 100%;
    grid-column: 1/3;
    
    
}


.contact-form input:nth-of-type(3){
    grid-column: 1/3;
       width: 100%;
       justify-self: center;
}

.contact-form textarea{
    grid-column: 1/3;
    width: 100%;
    justify-self: center;
}
.contact-form button{
    grid-column: 1/3;
    width: 160px;
    justify-self: center;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: #ccc;
    opacity: 0.7;
}
.contact-form input:focus,
.contact-form textarea:focus{
    outline: none;
    border-color: #e64e4e;
    box-shadow: 0 0 10px rgba(230,78,78,0.4);
}

.footer{
    background-color: #111;
    backdrop-filter: blur(10px);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-links{
    display: flex;
    justify-content: center;
}
.footer-links a{
    color: #e64e4e;
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s ease;

}
.footer-links a:hover{
    color: #ccc;
    transform: translateY(-3px);
}


@media (max-width:768px){
    header{
        padding: 1rem 2rem;
        flex-wrap: wrap;
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        gap: 0.5rem;
        
    }
    .navbar a{
        font-size: 1.4rem;
        margin-right: 0.1rem;
        padding-bottom: 0.3rem;
    }
    .logo{
        font-size: 2.5rem;
    }
    .home{
        flex-direction: column;
        text-align: center;
        gap: 4rem;
        padding: 12rem 2rem 5rem;
    }
    .home-content{
        width: 100%;
        max-width: 100%;
    }
    .home-content h1{
        font-size: 4rem;
    }
    
    .home-content p{
        font-size: 1.6rem;
        line-height: 2;
    }
    .social-icons{
        text-align: center;
    }
    .social-icons a{
        margin: 0.7rem;
    }
    .home-img{
        width: 70%;
        max-width: 300px;
    }
    .about{
        padding: 6rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 4rem;
    }
    .about-content{
        width: 100%;
    }
  
    .about-content h3{
        font-size: 2.5rem;
    }
    .about-content p{
        font-size: 1.6rem;
        line-height: 2;
    }
    .about-img{
        width: 280px;
        max-width: 80%;
    }



    .contact-form{
        grid-template-columns: 1fr;
        width: 90%;
        max-width: 500px;
        gap: 1.2rem;
    }
    .contact-form input,
    .contact-form textarea{
        width: 100%;
        grid-column: 1;
    }
    .contact-form input:nth-last-of-type(3),
    .contact-form textarea{
        grid-column: 1;
    }
    .contact-form button{
        width: 160px;
        grid-column: 1;
    }
    .section-title{
        font-size: 3rem;
    }
    .footer{
        padding: 3rem 2rem;
    }

    .footer-links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .footer-links a{
        padding: 0.8rem;
    }
    
}

